{#
/**
 * @file
 * Card Contnet Testimonial Paragraph template.
 */
#}

{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    cta_style ? 'cta-style--' ~ cta_style|clean_class,
  ]
%}
<div {{ attributes.addClass(classes) }}>
  <div class="container">
    {% block paragraph_content %}
      <div class="row">
        <div class="col-sm-12">
          {{ content }}
        </div>
      </div>
    {% endblock paragraph_content %}
  </div>
</div>
