{#
/**
 * @file omdb-api-response-output-table.html.twig
 * Template to style OMDB API Respose.
 *
 * Available variables:
 *
 * - results: API Response results array.
 * - empty: Empty results message.
 *
 * @ingroup omdb_api
 */
 #}

	<table class="omdb-api-response-output-table">
	{% if results %}
		{% for key,value in results %}
			<tr>
				<th>{{ key|upper }}</th>
				{% if value is iterable %}
					<td>
						{% for sub_key, sub_value in value %}
							{% if sub_value is iterable %}
								{% for sub_sub_key, sub_sub_value in sub_value %}
									<ul>
										<li>
											<strong> {{ sub_sub_key }} </strong>
											{{':'}}
											{{ sub_sub_value }}
										</li>
									</ul>
								{% endfor %}
							{% else %}
								{{ sub_value }}
							{% endif %}
						{% endfor %}
					</td>
				{% else %}
					{% if key == 'Poster' %}
						<td><img src="{{ value }}" alt="{{ results.Title }}"/></td>
					{% else %}
						<td>
								{% if value is not empty %}
									{{ value }}
								{% endif %}
						</td>
					{% endif %}
				{% endif %}
			</tr>
		{% endfor %}
	{% else %}
		<tr>
			<td>{{ empty }}</td>
		</tr>
	{% endif %}
</table>
